UninstallerPlatform/SampleData/InstalledVersionCollectionSample/InstalledVersionCollectionSample.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.InstalledVersionCollectionSample" targetNamespace="Expression.Blend.SampleData.InstalledVersionCollectionSample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InstalledVersionCollectionSample" type="tns:InstalledVersionCollectionSample" />
  <xs:complexType name="InstalledVersionCollectionSample">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="IsChecked" type="xs:boolean" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Name" type="xs:string" />
    <xs:attribute name="Version" type="xs:string" />
  </xs:complexType>
</xs:schema>